
#news-1{
    background: url(../assets/news/2.jpg) white center;
    background-size: cover;
}
#news-2{
    background: url(../assets/news/5.jpg) white center;
    background-size: cover;
}
#news-3{
    background: url(../assets/news/6.jpg) white center;
    background-size: cover;
}
#news-4{
    background: url(../assets/news/3.jpg) white center;
    background-size: cover;
}
#news-5{
    background: url(../assets/news/2.jpg) white center;
    background-size: cover;
}
#news-6{
    background: url(../assets/news/1.jpg) white center;
    background-size: cover;
}
#news-7{
    background: url(../assets/news/7.jpg) white center;
    background-size: cover;
}
#news-8{
    background: url(../assets/news/4.jpg) white center;
    background-size: cover;
}