article {
    height: 35%;
    width: 100%;
  }
  #article{
    height: 10%;
  }
  
  section-bar li{
    position: absolute;
      display: flex;
      flex-direction: row;
      height: 10%;
      align-items: center;
      width: 94%;
      top: 20%;
      left: 2%;
      transition: 1s;
  
  }
  section-bar li a{
    font-size: 30px;
  }
  section-text{
    text-align: center;
    position: relative;
    right: 9%;
    width: 100%;
    top: 5%;
  }