*{
  font-size: 30px;
}
.mainNews{
  height: 110%;
}
.nav-logo{
  padding-left: 50px;
}
article {
  height: 30%;
  width: 100%;
}
.right-bar{
  width: 26%;
}
section-bar li{
  position: absolute;
    display: flex;
    flex-direction: row;
    height: 10%;
    align-items: center;
    width: 94%;
    top: 20%;
    left: 2%;
}
section-bar li a{
  font-size: 30px;
}
section-text{
  text-align: center;
  position: relative;
  right: 9%;
  width: 100%;
  top: 5%;
}
aside{
  width: 100%;
  height: 42%;
}
.aside-box{
  display: block;
}
.radio-bar {
  width: 65%;
  position: relative;
  left: 20%;
  height: 5%;
  flex-direction: row;
}
.radio-style{
  transform: scale(2.3);
}
#FirstNews{
  display: flex;
  justify-content: center;
}
.footMenu{
  width: 5%;
  flex-direction: column;
  bottom: 120px;
  margin-left: 4%; 
  left: 0;
}
.footMenu a{
  transform: scale(1.3);
  margin: 20px 0;
}
#projectsBoxes{
  margin-right: 25%;
}

.blockText h4, .blockDate h4, .blockText p, .blockDate p{
  font-size: 13px;
}