*{
  font-size: 30px;
}

.mainNews{
  height: 110%;
  justify-content: unset;
  flex-wrap: unset;
  flex-direction: column;
  position: absolute;
  width: 100%;
  
}
.nav-logo{
  padding-left: 50px;
}
article {
  height: 35%;
  width: 100%;
}
#article{
  height: 10%;
}
aside{
  width: 100%;
}
.right-bar{
  width: 26%;
}
section-bar li{
  position: absolute;
    display: flex;
    flex-direction: row;
    height: 10%;
    align-items: center;
    width: 94%;
    top: 20%;
    left: 2%;
}
section-bar li a{
  font-size: 30px;
}
section-text{
  text-align: center;
  position: relative;
  right: 9%;
  width: 100%;
  top: 5%;
}
aside{
  width: 100%;
  height: 42%;
}
.aside-box{
  display: block;
}
.radio-bar {
  width: 65%;
  position: relative;
  left: 20%;
  height: 5%;
  flex-direction: row;
}
.radio-style{
  transform: scale(2.3);
}
#FirstNews{
  display: flex;
  justify-content: center;
}
.footMenu{
  width: 5%;
  flex-direction: column;
  bottom: 120px;
  left: 0;
}
.footMenu a{
  transform: scale(1.3);
  margin: 20px 0;
}
#projectsBoxes{
  margin-right: 0%;
  width: 96%;
}

.blockText , .blockText h4, .blockText p, .blockDate p{
  font-size: 11px;
}
.blockText p{
  width: 100%;
  font-size: 10px;
}
.blockDateMini p{
  font-size: 9px;
}


.firstBigBlock, .mostWhidthBlocksContainer{
  width: 450px;
  height: 450px;
}


@media (max-height: 560px){ 
  #main{
    height: 200%;
  }
  section-text{
    top: 23%;
  }
  article{
    height: 30%;
  }
  #article{
    height: 10%;
  }
  .aside-box{
    height: 95%;
  }
  .footMenu {
    position: absolute;
    bottom: 100px;
  }
  .footMenu a{
    transform: scale(0.9);
    margin: 10px 0;
  }
  
  .bodyLengUl{
    top: 10%;
  }
 }